<section id="mygird" class="vbox">
    <section class="scrollable wrapper w-f">
        <section class="panel panel-default">
            <table class="gridView">
                <thead>
                    <tr>
                        <th class="act_roles">
                            <input value="" type="checkbox" class="checkAll" />
                        </th>
                        <th><a href="#MSSV">MSSV<span /></a></th>
                        <th><a href="#HoTen">Họ tên<span /></a></th>
                        <th><a href="#Lop">Lớp<span /></a></th>
                        <th><a href="#Khoa">Khoa<span /></a></th>
                        <th colspan="2" style="width: 12%;">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 100; i++)
                    {
                        <tr title="Title @i">
                            <td class="act_roles">
                                <input type="checkbox" value="@i" >
                            </td>
                            <td>MSSV @i</td>
                            <td>Họ tên @i</td>
                            <td>Lớp @i</td>
                            <td>Khoa @i</td>
                            <td class="btn-group">
                                @Grid.ActionView(@i, "Name " + @i)
                                @Grid.ActionEdit(@i, "Name " + @i)
                                @Grid.ActionDelete(@i, "Name " + @i)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </section>
    </section>
    <footer class="footer bg-white b-t portlet">
        <div class="row m-t-xs" id="rowpage">
            <div class="bottom-pager">
                <div class="left">
                    <a href="#Page=1&Row=3" class="first" title="Trang đầu"></a>
                    <a href="#Page=1&Row=3" class="pre" title="Trang trước"></a>
                    <span>Trang</span>
                    <input type="text" name="page" value="2">
                    <input type="hidden" value="3">
                    <span>/3</span>
                    <a href="#Page=2&Row=3" class="next" title="Trang tiếp"></a>
                    <a href="#Page=3&Row=3" class="last" title="Trang cuối"></a>
                </div>
                <div class="right">
                    <span>Kết quả trên 1 trang:</span>
                    <select name="RowPerPage">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="100" selected="">100</option>
                    </select>
                    <span>/ Tổng số: 225</span>
                </div>
            </div>
        </div>
    </footer>
</section>
